
body {
    background-image: url('bg.jpg');
}
#div1 {
    text-align: center;
    background-color: lightpink;
    width: 50%;              
    margin: 50px auto;       
    padding: 20px;           
    border-radius: 10px;  
    margin-top: 5%;   
    color:whitesmoke;
    line-height: 1.6;
    font-size: 18px;
    text-shadow: 2px 2px 5px crimson;
}
#div1 {
    display: flex;
    justify-content: center; /* centers images horizontally */
    flex-wrap: wrap;         /* allows wrapping on small screens */
    gap: 15px;               /* space between images */
}

#nextBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid crimson;
  background-color: pink;
  cursor: pointer;
  transition: 0.3s;
}
#nextBtn:hover {
  background-color: crimson;
  color: white;
  transform: scale(1.1);
}

button {
  width: 120px;
  height: 40px;
}
